:root{
    --color-fondo-claro:#a87c5cea;
    --sombra-claro:0 0 20px 15px #a87c5c;
    --color-fondo-oscuro:#000000e1;
    --sombra-oscuro:0 0 20px 15px #4b4a4a;
    --color-letra:#ffffff;
    --tama単o-letra:20px;
}
*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
.fa-flag-usa {
    font-size: 32px; /* Tama単o deseado */
    color: #000; /* Color deseado */
}
.logo {
    position: absolute;
    margin-top: 80px;
    top: 0; 
    left: 40px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    background-color: #0000009d;
    color: var(--color-letra);
    border-bottom: 3px solid #c7c6c6 ;
}

.header__titulo{
    flex: 1;
    text-align: center; 
    font-size: 2rem; 

}
.header .header-buttons {
    display: flex;
    gap: 10px; 
}
.cambio__modo{
    padding: 8px 20px;
    font-size: var(--tama単o-letra);
    cursor: pointer;
    background-color: #272727;
    box-shadow: 0 4px 8px #fffefe; 
    color: var(--color-letra); 
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.cambio__lenguaje{
    padding: 8px 20px;
    font-size: var(--tama単o-letra);
    cursor: pointer;
    background-image: url('img/bandera-es.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    color: #000;
    font-weight: 800; 
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

body{
    box-sizing: border-box;
    background-image: url('img/fondo-oscuro1.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    display: flex;
    flex-direction: column;
}


.contenido{
    flex: 1;
    display: flex;
    justify-content: space-between;  
    gap: 80px;
    align-items: center;
    margin: 40px 80px;
}

.encriptar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    gap: 20px;
    margin-left: 40px;

}
.encriptar__Texto{
    /* dar color al modo claro */
    height: 100%;
    background-color: #a87c5cb7; 
    box-shadow: var(--sombra-claro);
    /*box-shadow: 0 0 20px 15px #a37239ee;   */ 
    color: #000;   
    border: none;
    resize: none;
    font-size: 24px;
    border: 2px solid #e9a16e;
    border-radius: 20px;
    padding: 10px;
}
.encriptar__Texto:focus {
    outline: none;
}
.encriptar__advertencia{
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-weight: 600;
    color: var(--color-letra);
    font-size: 20px;
}
.encriptar__botones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.encriptar__botones__estilo1{
    max-width: 380px;
    width: 100%;
    padding: 20px 0;
    border-radius: 20px;
    background-color: var(--color-fondo-claro);
    color: var(--color-letra);
    font-size: 20px;
    box-sizing: border-box;
    border: 2px solid #e9a16e;
    cursor: pointer;
    transition: background 0.3s ease;
}
.encriptar__botones__estilo1:hover {
    background-color: #b46f20;
}
.encriptar__botones__estilo2{
    max-width: 380px;
    width: 100%;
    padding: 20px 0;
    border-radius: 20px;  
    background-color: var(--color-fondo-claro);
    color: var(--color-letra);
    font-size: 20px;
    box-sizing: border-box;
    border: 2px solid #e9a16e;
    cursor: pointer;
    transition: background 0.3s ease;
}
.encriptar__botones__estilo2:hover {
    background-color: #b67327;
}
.desencritar{
    /* dar color al modo claro */
    background-color: var(--color-fondo-claro);
    box-shadow: var(--sombra-claro);    
    color: var(--color-letra);
    max-width: 400px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    border: 2px solid #e9a16e;
}
.desencritar__img{
    width: 50%;
    min-height: 10%;
}
.desencritar__texto{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;  
}

.desencriptar__boton{
    display: none;
}
.desencriptar__mensaje{
    display: none;
    font-size: 20px;
    color: #000;
    font-weight: 600;
}
.desencriptar__boton{
    max-width: 120px;
    width: 100%;
    padding: 10px 0;
    border-radius: 20px;
    background: radial-gradient(circle, #ecb411, #e0983f); 
    color: var(--color-letra);
    font-size: 20px;
    box-sizing: border-box;
}
.footer{
    padding: 10px;
    text-align: center;   
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-letra);
    background-color: #00000088;
    border-top: 3px solid #c7c6c6 ;
}



/* Estilos para el modo oscuro */
body.dark-mode {
    background-image: url('img/fondo-oscuro3.jpg');
    color: #e0e0e0;
}

body.dark-mode .header {
    box-shadow: var(--sombra-oscuro); 
    background-color: var(--color-fondo-oscuro);


}
body.dark-mode .header__titulo{
    color: #d1cfce;
}
body.dark-mode .cambio__modo{
    background-color: #4e4e4e; 
    color: #ffffff; 
    box-shadow: 0 4px 8px #aaa8a8; 
}
body.dark-mode .encriptar__Texto{
    background-color: var(--color-fondo-oscuro); 
    box-shadow: var(--sombra-oscuro); 
    color: #d1cfce;
    border: 4px solid #4b4a4a;
} 

body.dark-mode .desencritar {
    background-color: var(--color-fondo-oscuro); 
    box-shadow: var(--sombra-oscuro);    
    color: #d1cfce;
    border: 4px solid #4b4a4a;
}

body.dark-mode .footer{
    box-shadow: var(--sombra-oscuro); 
    background-color: var(--color-fondo-oscuro);
    color: #d1cfce;
}
body.dark-mode .encriptar__botones__estilo2,
body.dark-mode .encriptar__botones__estilo1,
body.dark-mode .desencriptar__boton{
    box-shadow: var(--sombra-oscuro); 
    background-color: var(--color-fondo-oscuro);
    border: 3px solid #555555;
}
body.dark-mode .encriptar__botones__estilo1:hover {
    background-color: #070707;
}
body.dark-mode .desencriptar__mensaje{
    color: #ffffff;
}


@media (max-width: 768px) {
    body{
        background-image: none;
    }
    .header{
        background-color: #161616;
    }
    .contenido {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        margin: 0;
        background-image: url('img/fondo-cel.jpg');
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center; 
        padding: 20px 40px;
    }

    .logo {
        display: none;
    }
    .encriptar {
        width: 100%; 
        margin: 0; 
        height: 60vh; 
        margin-top: 30px;
    }

    .desencritar {
        width: 100%; 
        height: 40vh; 
        padding: 10px 10px;
        max-width: 100%;
        max-height: 200px;
    }

    .desencritar__img {
        display: none;
    }
    .desencriptar__mensaje{
        max-height: 400px;
        height: 100%;

    }
    .footer{
        background-color: #161616
    }
}
@media (max-width: 375px) {


    .encriptar {
        width: 100%; 
        margin: 0; 
        height: 60vh; 
        margin-top: 30px;
    }

    .encriptar__botones {
        flex-direction: column; 
        gap: 10px; 
    }

    .desencritar {
        width: 100%; 
        height: 60vh; 
        padding: 10px 10px;
        max-width: 100%;
    }

    .desencritar__img {
        display: none; 
    }

    .desencriptar__mensaje {
        max-height: 400px;
        height: 100%;
    }

    .header {
        flex-direction: column;
        align-items: center; 
    }

    .header-buttons {
        flex-direction: row; 
        gap: 10px; 
        margin-top: 10px; 
    }

    .header__titulo {
        font-size: 1.5rem; 
        text-align: center; 
    }
}